name: ML Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Training Script
      run: |
        python train.py

    - name: Write Job Summary
      run: |
        echo "## ML Experiment Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Surya Sanjan" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** "2022BCS0194" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        cat outputs/results/metrics.json >> $GITHUB_STEP_SUMMARY

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-and-metrics
        path: outputs/
